body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.gcapp {
    background-color: #2a2826;
}
.main_nav {
    padding-right: .75rem;
    max-width: 55px;
}
.logo {
    background-image: url('../img/GClogo.png');
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    background-position: center;
}
.iframe {
    background-color: white;
    width: 95%;
}
.ui-btn-top {
    top: 0;
    position: absolute;
    z-index: 99;
    margin-left: 45%;
    font-size: 2em;
    font-weight: bolder;
    color: orange;
    text-decoration: None;
}
.ui-btn-center {
    font-size: 2em;
    font-weight: bolder;
    color: orange!important;
    text-decoration: None;
}
#map-canvas {
    height: 100%;
}
#buildings {
    overflow-y: scroll;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    z-index: 999;
    -webkit-transform: translateZ(0);
}
#infowindow {
    width: 100%;
    height: 100%;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
    visibility: hidden;
    position: absolute;
    top: 45px;
    left: 0px;
    background-color: #2a2826;
    z-index: 995;
    text-align: center;
    -webkit-transform: translateZ(0);
}
.main-section {
    height: 100%;
    padding-bottom: 2rem;
}
.inner-wrap {
    height: 100%;
}
.off-canvas-wrap {
    height: 100%;
}
#buildingInfo {
    z-index: 999;
    padding: .3rem;
}
#buildingInfo p {
    text-align: center;
    font-size: 1.5rem;
}
.portrait {
    max-height: 70%;
}
#buildingInfo.landscape {
    max-width: 30%;
    max-height: 100%;
    float: left;
}
#navImage.landscape {
    max-width: 70%;
    height: 90%;
    float: left;
}
#navImage p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.buildingDesc p {
    font-size: 1.2rem!important;
}
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#scroller {
	position:relative;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	height:100%;
	padding:0;
}